{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-console" : "off"
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
