{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-console" : "error",
    "no-debugger": "error",
    "no-unused-vars": ["warn"],
    "comma-dangle": ["error", {
      "objects": "never"
    }],
    "indent": ["error", 2, {
      "FunctionExpression": {
        "parameters": 2
      }
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["test/**", "test-e2e/**"],
      "rules": {
        "require-jsdoc": "off",
        "prefer-promise-reject-errors": "off",
        "valid-jsdoc": "off"
      }
    }
  ]
}

