{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-console" : "error",
    "no-debugger": "error",
    "comma-dangle": ["error", {
      "objects": "never"
    }]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  }
}
